# criação de agrupamentos 7 REG1

In [1]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [21]:
colunas_port = ['Student Name', 'Score (#)', 'D09', 'D07', 'D06', 'D03', 'D20', 'D16', 'D14', 'D13', 'D15', 'D05', 'D01', 'D14', 'D12', 'D20', 'D01', 'D14', 'D12', 'D20', 'D04', 'D19', 'turma']

colunas_mat = ['Student Name', 'Score (#)','D36', 'D24', 'D23','D19', 'D33', 'D06', 'D09', 'D01', 'D28', 'D15', 'D17', 'D26', 'D16', 'D14', 'D32 ', 'D13', 'D12', 'D29']

df = pd.read_csv(r'arquivos/avaliacao-mat-reg2.csv', encoding= 'latin-1', sep= ';')
df.columns = colunas_mat
df = df.dropna()


# alterando os valores para inteiro
for i in range(1, len(colunas_mat)):
    df[colunas_mat[i]] = df[colunas_mat[i]].astype('int64')

df['turma'] = 'REG2'
display(df)
display(df.describe())

,Student Name,Score (#),D36,D24,D23,D19,D33,D06,D09,D01,...,D15,D17,D26,D16,D14,D32,D13,D12,D29,turma
0,Ana Gabriela Neves De Souza,15,1,1,1,1,1,1,1,0,...,1,1,1,1,1,0,0,1,1,REG2
1,Ana Julia,11,1,1,1,0,1,0,1,0,...,0,1,1,0,1,0,0,1,1,REG2
2,Ana Paula Gomes de Queiroz 7reg2,9,1,1,0,0,1,0,1,1,...,0,0,1,1,0,0,0,1,0,REG2
3,Ariany oliveira silva,11,1,1,0,0,1,0,1,1,...,1,0,0,1,1,0,0,1,1,REG2
4,Arthur Henrique,9,1,0,0,0,0,0,1,1,...,0,1,1,1,1,0,0,1,1,REG2
5,Artur Ferreira Freitas,9,1,1,0,1,1,1,0,1,...,0,1,0,1,1,0,0,0,0,REG2
6,Beatriz Mendes Guimaraes,8,0,0,0,1,0,0,1,1,...,1,0,1,0,1,0,0,1,0,REG2
7,Beatriz Oliveira Rocha,7,1,1,1,0,0,0,1,0,...,0,1,1,0,0,0,0,1,0,REG2
8,Daniel Ferdinando,10,1,1,1,0,0,0,1,1,...,0,1,1,0,1,0,0,1,0,REG2
9,Davi Luccas,6,0,1,1,0,0,0,1,1,...,0,0,0,0,1,0,1,0,0,REG2
10,Emanuella de ramos,12,1,1,0,0,1,0,1,1,...,1,1,0,1,1,0,0,1,1,REG2
11,Hugo Miguel Nepomuceno,11,1,1,1,1,0,0,1,1,...,1,1,1,0,0,0,0,1,1,REG2
12,Lara Vitoria Araujo Nogueira,14,1,1,1,1,0,0,1,1,...,0,1,1,1,1,1,0,1,1,REG2
13,Leticia Vitoria de Oliveira Cord,12,1,1,1,1,1,0,1,1,...,0,0,0,1,1,0,0,1,1,REG2
14,MARCOS VINICIUS,10,1,1,1,0,0,0,1,1,...,0,0,1,1,1,1,0,0,0,REG2
15,Maria Luiza Miranda,14,1,1,1,1,1,1,1,1,...,1,1,1,1,1,0,0,1,0,REG2
16,Matheus Oliveira Guimarães,13,1,1,1,1,1,1,1,1,...,1,1,0,1,1,0,0,1,0,REG2
17,Mell Cassia Da Silva,11,1,1,1,0,1,1,1,1,...,0,1,0,1,0,0,0,0,1,REG2
18,gabriel henrique,10,1,0,0,1,0,0,1,1,...,1,1,1,0,1,0,0,0,1,REG2
19,guilherme,12,1,1,0,0,0,1,1,1,...,1,1,1,1,1,0,0,1,0,REG2
20,isaac romano da silva,11,0,1,1,0,1,0,1,1,...,0,1,1,1,1,0,0,1,1,REG2
21,isadora isis,8,1,0,0,1,1,1,1,0,...,0,1,0,1,0,0,0,1,0,REG2
22,samuel soares monteiro,9,1,1,0,0,1,0,1,1,...,0,1,0,1,0,1,1,0,0,REG2
23,sofia dos anjos ramalho,12,1,1,0,1,1,0,1,1,...,1,1,1,0,0,0,0,1,1,REG2

,Score (#),D36,D24,D23,D19,D33,D06,D09,D01,D28,D15,D17,D26,D16,D14,D32,D13,D12,D29
count,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000
mean,10.583333,0.875000,0.833333,0.541667,0.458333,0.583333,0.291667,0.958333,0.833333,0.583333,0.416667,0.750000,0.625000,0.666667,0.708333,0.125000,0.083333,0.750000,0.500000
std,2.244155,0.337832,0.380693,0.508977,0.508977,0.503610,0.464306,0.204124,0.380693,0.503610,0.503610,0.442326,0.494535,0.481543,0.464306,0.337832,0.282330,0.442326,0.510754
min,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.750000,0.000000
50%,11.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.500000
75%,12.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,15.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# Aqui, irei fazer um tratamento de colunas para o exame de português.

### Existem várias colunas repetidas, então eu preciso juntá-las somando os seus valores primeiro antes de aplicar o algoritmo.

In [40]:
# lendo os arquivos
df = pd.read_csv(r'arquivos/avaliacao-port-reg1.csv', encoding= 'latin-1', sep= ';')
df = df.dropna()

# Passo 1: Criar um dicionário agrupando colunas pelo nome base
from collections import defaultdict
# remove o sufixo .1, .2 etc
col_groups = defaultdict(list)
for col in df.columns:
    base = col.split('.')[0]
    col_groups[base].append(col)

# Passo 2: Somar as colunas repetidas
df_combined = pd.DataFrame()

for base, cols in col_groups.items():
    if len(cols) == 1:
        df_combined[base] = df[cols[0]]
    else:
        df_combined[base] = df[cols].sum(axis=1, skipna=True)



colunas = df_combined.columns
# alterando os valores para inteiro
for i in range(1, len(colunas) -1):
    df_combined[colunas[i]] = df_combined[colunas[i]].astype('int64')


# df_combined agora tem colunas únicas e somadas
df = df_combined
df

,Student Name,Score (#),D09,D07,D06,D03,D20,D16,D14,D13,D15,D05,D01,D12,D04,D19,TURMA
0,BRAYAN LUCAS DUTRA DA SILA,6,0,0,1,1,1,0,1,0,1,0,1,0,0,0,REG1
1,Bernardo Henrique Luiz Silva,14,0,1,0,1,2,1,3,1,0,1,2,2,0,0,REG1
2,Bernardo Pedroza,11,1,0,1,0,2,1,2,1,0,1,1,1,0,0,REG1
3,Bryan Bernardes,11,0,1,0,1,2,0,2,0,1,1,2,1,0,0,REG1
4,Davi Adilson,15,1,1,1,1,3,1,1,0,0,1,2,2,0,1,REG1
5,Emanuelly Vitoria,17,1,1,1,1,2,1,3,1,1,1,1,2,0,1,REG1
6,Erick,15,1,1,1,1,2,0,3,0,1,1,2,2,0,0,REG1
7,Igor gomes,12,0,0,1,0,2,1,2,0,1,1,2,2,0,0,REG1
8,LAISA VITÓRIA,10,1,1,0,1,1,0,1,1,1,1,1,1,0,0,REG1
9,Luan Estevam,13,1,0,0,1,2,1,3,0,0,1,2,2,0,0,REG1
10,Pablo Rafael,8,0,1,0,1,0,0,2,0,1,1,1,1,0,0,REG1
11,Wesley Santos,15,0,1,1,1,2,1,3,1,1,1,1,1,0,1,REG1
12,davi de franca,12,1,1,1,0,2,1,2,0,0,0,1,2,1,0,REG1
13,edgar de almeida,7,0,0,0,0,1,1,1,0,0,0,1,1,1,1,REG1
14,gabriel davi,7,0,1,0,1,2,1,0,0,0,0,0,2,0,0,REG1
15,maria cecilia teodoro,15,1,1,0,1,2,1,3,1,1,1,1,2,0,0,REG1
16,milena constantino,13,0,1,1,1,2,1,3,1,0,1,0,1,0,1,REG1
17,pedro.l,14,1,1,0,1,2,1,3,0,0,1,2,1,0,1,REG1
18,ryan douglas,13,0,1,0,1,2,1,3,1,1,1,0,2,0,0,REG1

In [41]:
# === Matriz dos atributos ===

X = df.drop(['Student Name', 'Score (#)','TURMA'], axis = 1)


# == rodar o KMeans (padronizado)

scaler = StandardScaler()
X_padronizado = scaler.fit_transform(X)

kmeans = KMeans(n_clusters= 8, random_state= 0 , n_init= 50)

df['agrupamento'] = kmeans.fit_predict(X_padronizado)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24 entries, 0 to 23
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Student Name  24 non-null     object
 1   Score (#)     24 non-null     int64
 2   D36           24 non-null     int64
 3   D24           24 non-null     int64
 4   D23           24 non-null     int64
 5   D19           24 non-null     int64
 6   D33           24 non-null     int64
 7   D06           24 non-null     int64
 8   D09           24 non-null     int64
 9   D01           24 non-null     int64
 10  D28           24 non-null     int64
 11  D15           24 non-null     int64
 12  D17           24 non-null     int64
 13  D26           24 non-null     int64
 14  D16           24 non-null     int64
 15  D14           24 non-null     int64
 16  D32           24 non-null     int64
 17  D13           24 non-null     int64
 18  D12           24 non-null     int64
 19  D29           24 non-null     int64
 20  turma         24 non-null     object
 21  agrupamento   24 non-null     int32
dtypes: int32(1), int64(19), object(2)
memory usage: 4.2+ KB

In [42]:
agrupamentos_aluno_df = df[['Student Name', 'agrupamento']].groupby('agrupamento').count()
agrupamentos_aluno_df

             Student Name
agrupamento
0                       2
1                       3
2                       4
3                       3
4                       1
5                       1
6                       2
7                       3

### Renumerar os agrupamentos

In [43]:
df['agrupamento'] = df['agrupamento'] + 1

### para não ficar com grupos muito grandes, vamos distribuir estudantes do grupo que possui mais para os grupos que possuem menos. Assim, deixamos um pouco mais equilibrado

In [44]:
agrupamentos_hab_df = df.drop(['Student Name', 'Score (#)','TURMA'], axis = 1).groupby('agrupamento').mean()
agrupamentos_hab_df

,D09,D07,D06,D03,D20,D16,D14,D13,D15,D05,D01,D12,D04,D19
agrupamento,,,,,,,,,,,,,,
1,0.500000,0.000000,1.000000,0.0,2.000000,1.0,2.000000,0.50,0.500000,1.0,1.500000,1.500000,0.0,0.000000
2,0.333333,1.000000,1.000000,1.0,2.000000,1.0,3.000000,1.00,0.666667,1.0,0.666667,1.333333,0.0,1.000000
3,0.500000,1.000000,0.250000,1.0,1.250000,0.0,2.000000,0.25,1.000000,1.0,1.500000,1.250000,0.0,0.000000
4,1.000000,0.666667,0.333333,1.0,2.333333,1.0,2.333333,0.00,0.000000,1.0,2.000000,1.666667,0.0,0.666667
5,0.000000,0.000000,1.000000,1.0,1.000000,0.0,1.000000,0.00,1.000000,0.0,1.000000,0.000000,0.0,0.000000
6,0.000000,1.000000,0.000000,1.0,2.000000,1.0,0.000000,0.00,0.000000,0.0,0.000000,2.000000,0.0,0.000000
7,0.500000,0.500000,0.500000,0.0,1.500000,1.0,1.500000,0.00,0.000000,0.0,1.000000,1.500000,1.0,0.500000
8,0.333333,1.000000,0.000000,1.0,2.000000,1.0,3.000000,1.00,0.666667,1.0,1.000000,2.000000,0.0,0.000000

In [45]:

df.to_csv(r'arquivos/port_reg1.csv', index = False, encoding='utf-8')

### Vamos agora concatenar as bases por disciplina

In [46]:

df2 = pd.read_csv(r'arquivos/port_reg2.csv', encoding= 'utf-8')

df1 = pd.read_csv(r'arquivos/port_reg1.csv', encoding= 'utf-8')


df = pd.concat([df1, df2])
df.head()

,Student Name,Score (#),D09,D07,D06,D03,D20,D16,D14,D13,D15,D05,D01,D12,D04,D19,TURMA,agrupamento,D02
0,BRAYAN LUCAS DUTRA DA SILA,6,0,0,1,1,1,0,1,0,1,0,1,0,0,0,REG1,5,NaN
1,Bernardo Henrique Luiz Silva,14,0,1,0,1,2,1,3,1,0,1,2,2,0,0,REG1,8,NaN
2,Bernardo Pedroza,11,1,0,1,0,2,1,2,1,0,1,1,1,0,0,REG1,1,NaN
3,Bryan Bernardes,11,0,1,0,1,2,0,2,0,1,1,2,1,0,0,REG1,3,NaN
4,Davi Adilson,15,1,1,1,1,3,1,1,0,0,1,2,2,0,1,REG1,4,NaN

In [47]:
df.to_csv(r'arquivos/port.csv', encoding= 'utf-8', index= False)

# último tratamento

### Para que o gráfico de heatmap do powerbi não seja corrompido por colunas com valores altos, é necessário deixar todos os valores para as hablidades entre 0 e 1.

In [48]:
import pandas as pd 

df = pd.read_csv(r'arquivos/port.csv', encoding= 'utf-8')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Student Name  43 non-null     object
 1   Score (#)     43 non-null     int64
 2   D09           43 non-null     int64
 3   D07           43 non-null     int64
 4   D06           43 non-null     int64
 5   D03           43 non-null     int64
 6   D20           43 non-null     int64
 7   D16           43 non-null     int64
 8   D14           43 non-null     int64
 9   D13           43 non-null     int64
 10  D15           43 non-null     int64
 11  D05           43 non-null     int64
 12  D01           43 non-null     int64
 13  D12           43 non-null     int64
 14  D04           43 non-null     int64
 15  D19           43 non-null     int64
 16  TURMA         43 non-null     object
 17  agrupamento   43 non-null     int64
 18  D02           24 non-null     float64
dtypes: float64(1), int64(16), object(2)
memory usage: 6.5+ KB

In [49]:
# Seleciona apenas as colunas numéricas
num_cols = list(df.select_dtypes(include='number').columns)
num_cols.pop(0)
num_cols.pop(-2)
num_cols

['D09',
 'D07',
 'D06',
 'D03',
 'D20',
 'D16',
 'D14',
 'D13',
 'D15',
 'D05',
 'D01',
 'D12',
 'D04',
 'D19',
 'D02']

In [ ]:

# Divide cada coluna numérica pelo seu valor máximo
df[num_cols] = df[num_cols] / df[num_cols].max()

df.head()

                        Student Name  Score (#)  D09  D07  D06  D03       D20  \
0         BRAYAN LUCAS DUTRA DA SILA          6  0.0  0.0  0.5  1.0  0.333333
1       Bernardo Henrique Luiz Silva         14  0.0  1.0  0.0  1.0  0.666667
2                   Bernardo Pedroza         11  1.0  0.0  0.5  0.0  0.666667
3                    Bryan Bernardes         11  0.0  1.0  0.0  1.0  0.666667
4                       Davi Adilson         15  1.0  1.0  0.5  1.0  1.000000
5                  Emanuelly Vitoria         17  1.0  1.0  0.5  1.0  0.666667
6                              Erick         15  1.0  1.0  0.5  1.0  0.666667
7                         Igor gomes         12  0.0  0.0  0.5  0.0  0.666667
8                      LAISA VITÓRIA         10  1.0  1.0  0.0  1.0  0.333333
9                       Luan Estevam         13  1.0  0.0  0.0  1.0  0.666667
10                      Pablo Rafael          8  0.0  1.0  0.0  1.0  0.000000
11                     Wesley Santos         15  0.0  1.0  0.5  1.0  0.666667
12                    davi de franca         12  1.0  1.0  0.5  0.0  0.666667
13                  edgar de almeida          7  0.0  0.0  0.0  0.0  0.333333
14                      gabriel davi          7  0.0  1.0  0.0  1.0  0.666667
15             maria cecilia teodoro         15  1.0  1.0  0.0  1.0  0.666667
16                milena constantino         13  0.0  1.0  0.5  1.0  0.666667
17                           pedro.l         14  1.0  1.0  0.0  1.0  0.666667
18                      ryan douglas         13  0.0  1.0  0.0  1.0  0.666667
19       Ana Gabriela Neves De Souza         14  1.0  1.0  0.5  1.0  0.666667
20  Ana Paula Gomes de Queiroz 7reg2         12  1.0  1.0  0.5  1.0  0.666667
21            Ariany Oliveira Santos         17  0.0  1.0  0.5  1.0  0.666667
22                   Arthur Henrique         10  0.0  1.0  0.5  1.0  0.666667
23            Artur Ferreira Freitas          5  1.0  0.0  0.5  0.0  0.000000
24          Beatriz Mendes Guimaraes         13  0.0  1.0  0.5  0.0  0.666667
25            Beatriz Oliveira Rocha         15  0.0  1.0  1.0  1.0  0.666667
26                 Daniel ferdinando         14  0.0  1.0  1.0  1.0  0.333333
27        Davi Luccas moreira Matias         11  0.0  1.0  0.0  1.0  0.333333
28         Emanuella de Ramos Santos         19  1.0  1.0  1.0  1.0  0.666667
29                        Guilherme          13  1.0  1.0  0.5  1.0  0.333333
30            Hugo Miguel Nepomuceno         10  1.0  0.0  0.0  0.0  0.000000
31             Isaac Romano da Silva         10  0.0  1.0  0.0  1.0  0.333333
32                     Lara Vitoria          12  1.0  1.0  0.5  0.0  0.333333
33  Leticia Vitoria de Oliveira Cord         17  1.0  1.0  1.0  1.0  0.666667
34                   MARCOS VINICIUS         13  1.0  1.0  0.0  1.0  0.666667
35                      MARIA  LUIZA         13  0.0  1.0  1.0  1.0  0.666667
36        MATHEUS OLIVEIRA GUIMARÃES          6  0.0  1.0  0.5  0.0  0.000000
37    Maicon Cristyan Sousa da Silva         10  1.0  1.0  0.0  1.0  0.333333
38              Mell Cassia Da Silva         17  1.0  1.0  0.5  1.0  0.666667
39                    anajuliaduarte         15  1.0  1.0  1.0  1.0  0.666667
40                  gabriel henrique         13  0.0  1.0  0.5  0.0  0.666667
41                      isadora isis         11  0.0  1.0  1.0  0.0  0.666667
42                             Rhuan         11  0.0  1.0  0.5  1.0  0.333333

    D16       D14  D13  D15  D05  D01  D12  D04  D19 TURMA  agrupamento  D02
0   0.0  0.333333  0.0  1.0  0.0  0.5  0.0  0.0  0.0  REG1            5  NaN
1   1.0  1.000000  1.0  0.0  1.0  1.0  1.0  0.0  0.0  REG1            8  NaN
2   1.0  0.666667  1.0  0.0  1.0  0.5  0.5  0.0  0.0  REG1            1  NaN
3   0.0  0.666667  0.0  1.0  1.0  1.0  0.5  0.0  0.0  REG1            3  NaN
4   1.0  0.333333  0.0  0.0  1.0  1.0  1.0  0.0  1.0  REG1            4  NaN
5   1.0  1.000000  1.0  1.0  1.0  0.5  1.0  0.0  1.0  REG1            2  NaN
6   0.0  1.000000  0.0  1.0  1.0  1.0  1.0  0.0  0.0  REG1            3  NaN
7   1.0  0.666667  0.0  1.0  1.0  1.0  1.0  0.0  0.0  REG1            1  NaN
8   0.0  0.333333  1.0  1.0  1.0  0.5  0.5  0.0  0.0  REG1            3  NaN
9   1.0  1.000000  0.0  0.0  1.0  1.0  1.0  0.0  0.0  REG1            4  NaN
10  0.0  0.666667  0.0  1.0  1.0  0.5  0.5  0.0  0.0  REG1            3  NaN
11  1.0  1.000000  1.0  1.0  1.0  0.5  0.5  0.0  1.0  REG1            2  NaN
12  1.0  0.666667  0.0  0.0  0.0  0.5  1.0  0.5  0.0  REG1            7  NaN
13  1.0  0.333333  0.0  0.0  0.0  0.5  0.5  0.5  1.0  REG1            7  NaN
14  1.0  0.000000  0.0  0.0  0.0  0.0  1.0  0.0  0.0  REG1            6  NaN
15  1.0  1.000000  1.0  1.0  1.0  0.5  1.0  0.0  0.0  REG1            8  NaN
16  1.0  1.000000  1.0  0.0  1.0  0.0  0.5  0.0  1.0  REG1            2  NaN
17  1.0  1.000000  0.0  0.0  1.0  1.0  0.5  0.0  1.0  REG1            4  NaN
18  1.0  1.000000  1.0  1.0  1.0  0.0  1.0  0.0  0.0  REG1            8  NaN
19  1.0  0.333333  1.0  1.0  0.0  0.0  0.5  0.5  1.0  REG2            2  0.5
20  1.0  0.333333  0.0  0.0  0.0  0.0  0.5  0.0  1.0  REG2            6  1.0
21  1.0  0.666667  1.0  1.0  1.0  0.5  0.5  0.5  1.0  REG2            4  1.0
22  0.0  0.000000  0.0  1.0  0.0  0.5  0.5  0.0  1.0  REG2            7  0.5
23  1.0  0.000000  0.0  0.0  0.0  0.5  0.0  0.5  0.0  REG2            5  0.0
24  1.0  0.666667  0.0  1.0  0.0  0.5  0.5  0.0  1.0  REG2            1  1.0
25  1.0  0.333333  1.0  1.0  0.0  0.5  0.5  0.5  0.0  REG2            2  1.0
26  1.0  0.333333  0.0  1.0  0.0  0.5  0.5  0.5  1.0  REG2            1  1.0
27  1.0  0.666667  0.0  1.0  0.0  0.5  0.5  0.0  0.0  REG2            3  1.0
28  1.0  0.666667  1.0  1.0  1.0  0.5  0.5  0.5  1.0  REG2            4  1.0
29  1.0  0.666667  0.0  1.0  0.0  0.5  0.5  0.5  0.0  REG2            3  0.5
30  1.0  0.666667  1.0  1.0  0.0  0.5  0.5  0.5  0.0  REG2            8  0.5
31  1.0  0.333333  0.0  1.0  0.0  0.5  0.5  0.5  0.0  REG2            3  0.5
32  1.0  0.666667  1.0  1.0  0.0  0.0  0.5  0.5  0.0  REG2            9  0.5
33  1.0  0.666667  1.0  1.0  0.0  0.5  0.5  0.5  0.0  REG2            2  1.0
34  1.0  0.333333  0.0  0.0  0.0  0.5  0.5  0.5  1.0  REG2            6  1.0
35  0.0  0.333333  1.0  1.0  0.0  0.0  0.5  0.5  0.0  REG2            2  1.0
36  0.0  0.000000  0.0  1.0  0.0  0.0  0.5  0.0  1.0  REG2            7  0.5
37  1.0  0.333333  0.0  1.0  0.0  0.0  0.5  0.0  0.0  REG2            3  1.0
38  1.0  0.666667  0.0  1.0  1.0  0.0  0.5  1.0  1.0  REG2            4  1.0
39  1.0  0.333333  1.0  1.0  0.0  0.0  0.5  0.5  0.0  REG2            2  1.0
40  1.0  0.333333  0.0  1.0  0.0  0.5  0.5  0.5  1.0  REG2            1  1.0
41  1.0  0.666667  0.0  0.0  0.0  0.0  0.5  0.5  0.0  REG2            9  0.5
42  1.0  0.333333  1.0  1.0  0.0  0.5  0.5  0.0  0.0  REG2            3  0.5

In [51]:
df.head()

,Student Name,Score (#),D09,D07,D06,D03,D20,D16,D14,D13,D15,D05,D01,D12,D04,D19,TURMA,agrupamento,D02
0,BRAYAN LUCAS DUTRA DA SILA,6,0.0,0.0,0.5,1.0,0.333333,0.0,0.333333,0.0,1.0,0.0,0.5,0.0,0.0,0.0,REG1,5,NaN
1,Bernardo Henrique Luiz Silva,14,0.0,1.0,0.0,1.0,0.666667,1.0,1.000000,1.0,0.0,1.0,1.0,1.0,0.0,0.0,REG1,8,NaN
2,Bernardo Pedroza,11,1.0,0.0,0.5,0.0,0.666667,1.0,0.666667,1.0,0.0,1.0,0.5,0.5,0.0,0.0,REG1,1,NaN
3,Bryan Bernardes,11,0.0,1.0,0.0,1.0,0.666667,0.0,0.666667,0.0,1.0,1.0,1.0,0.5,0.0,0.0,REG1,3,NaN
4,Davi Adilson,15,1.0,1.0,0.5,1.0,1.000000,1.0,0.333333,0.0,0.0,1.0,1.0,1.0,0.0,1.0,REG1,4,NaN

In [52]:
df.to_excel(r'arquivos/port.xlsx')