# criação de agrupamentos Português 7 REG1

In [43]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [44]:
df = pd.read_csv(r'arquivos/avaliacao-port.csv', encoding= 'latin-1', sep= ';')
df = df.dropna()
display(df)
display(df.describe())

,Student Name,D19,D16,D44,D50,D24,D38,D23,D42,D28,D53
0,Bernardo Henrique,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
1,Bernardo Pedroza Teixeira,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
2,Bryan bernardes,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0
3,Davi Adilson,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
4,Emanuelly VItoria,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0
5,ErickHenrique Santos Paula,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0
6,Laisa Vitória,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0
7,Luan Estevam Ramos,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
8,Pablo Rafael,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
9,Robert henrique,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
10,claudio andre,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
11,davi de franca,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
12,edgar,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
13,emanuele de ameida cardoso,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
14,gabrieldavi,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
15,hh7bh2a,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0
16,igor gomes,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0
17,lucas kaua,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
18,maria cecilia teodoro,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
19,milena constantino,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0
20,nykollas gabriel,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0
21,pedro.l,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0
22,vitoria aparecida marx de araujo,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
23,yan henrique,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0

,D19,D16,D44,D50,D24,D38,D23,D42,D28,D53
count,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000
mean,0.708333,0.833333,0.375000,0.583333,0.833333,0.416667,0.416667,0.666667,0.416667,0.500000
std,0.464306,0.380693,0.494535,0.503610,0.380693,0.503610,0.503610,0.481543,0.503610,0.510754
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.500000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [45]:
# === Matriz dos atributos ===

X = df.drop('Student Name', axis = 1)


# == rodar o KMeans (padronizado)

scaler = StandardScaler()
X_padronizado = scaler.fit_transform(X)

kmeans = KMeans(n_clusters= 8 , random_state= 0 , n_init= 20)

df['agrupamento'] = kmeans.fit_predict(X_padronizado)

In [46]:
agrupamentos_aluno_df = df[['Student Name', 'agrupamento']].groupby('agrupamento').count()
agrupamentos_aluno_df

             Student Name
agrupamento
0                       3
1                       8
2                       1
3                       3
4                       3
5                       1
6                       2
7                       3

In [47]:
agrupamentos_hab_df = df.drop('Student Name', axis = 1).groupby('agrupamento').mean()
agrupamentos_hab_df

,D19,D16,D44,D50,D24,D38,D23,D42,D28,D53
agrupamento,,,,,,,,,,
0,0.666667,0.666667,0.666667,1.000000,1.0,0.000000,0.000000,0.666667,0.000000,1.000000
1,1.000000,1.000000,0.250000,0.250000,1.0,0.750000,0.250000,1.000000,0.750000,0.875000
2,1.000000,0.000000,0.000000,1.000000,1.0,0.000000,1.000000,0.000000,0.000000,0.000000
3,0.666667,1.000000,0.000000,0.333333,1.0,0.000000,0.666667,0.666667,0.000000,0.000000
4,0.000000,1.000000,1.000000,1.000000,1.0,0.666667,0.333333,0.666667,0.333333,0.333333
5,0.000000,1.000000,1.000000,1.000000,0.0,0.000000,1.000000,0.000000,1.000000,1.000000
6,1.000000,0.500000,0.500000,1.000000,1.0,1.000000,0.000000,0.000000,1.000000,0.000000
7,0.666667,0.666667,0.000000,0.333333,0.0,0.000000,1.000000,0.666667,0.000000,0.000000

In [ ]:
# df.to_csv(r'arquivos/port_reg1.csv', index = False)